CGCACookBook/Build/
CGCACookBook/CGCACookBook.xcodeproj/xcuserdata/mohammadabdurraafay.xcuserdatad/xcdebugger/
CGCACookBook/CGCACookBook.xcodeproj/project.xcworkspace/xcuserdata/mohammadabdurraafay.xcuserdatad/UserInterfaceState.xcuserstate
